<h1>Nome:</h1>
<input 
  type="text" 
  [ngModel]="name"
  (ngModelChange)="handleInputChange($event)">

<h1>Nome digitado: {{ name }}</h1>

<h1>Email:</h1>
<input 
  type="email" 
  [(ngModel)]="email"
>

<h1>Email digitado: {{ email }}</h1>

@if (isAdmin) {
  <div>
    Painel do Administrador
  </div>
} @else {
  <p>
    Você é apenas um visitante.
  </p>
}

<ul>
  @for (aluno of alunos; track aluno.matricula) {
    <li>{{ aluno.nome }}</li>
  } @empty {
    <li>Nenhum aluno matriculado.</li>
  }
</ul>

<button [ngClass]="{ 'btn-sucesso': isSalvo, 'btn-erro': !isSalvo }">
  Salvar
</button>

<div [ngStyle]="{ 'background-color': corFundo, 'font-size': '20px', 'color': 'white' }">
 <h1> {{ name.toUpperCase }} </h1>
</div>

<h1>{{ pessoa | json}}</h1>


<h1 [class]="getStyle(pessoa.status)">{{ pessoa.name }}</h1>
<h1 [class]="pessoa.status | statusClass">{{ pessoa2.name }}</h1>
<h1 [class]="getStyle(pessoa3.status)">{{ pessoa3.name }}</h1>